.fa {
    margin-right: 10px;
}

#js-story-container .story {
    height: 60px;
    width: 90%;
    margin: 10px auto;
    box-shadow: 5px 3px 3px #ccc;
}

.media {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 1em;
    font-size: 10px;
    flex-direction: row;
}

.media img {
    width: 10%;
    margin-top: 5px;
}

.media-figure {
    margin-right: 1em
}

.media-body {
    width: 70%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.media-body, .media-body :last-child {
    margin-bottom: 0
}

.media-title {
    line-height: 18px;
    white-space: normal;
    margin: .5em 0 .5em;
}

.media--center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.media--reverse>.media-figure {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 0 0 1em
}

.story-cover {
    width: 100%;
}

.js-story-title {
    margin: 10px auto;
    text-indent: 2em;
    font-size: .9em;
}

.story-content {
    margin-top: 10px;
    margin-bottom: 45px;
    line-height: 1.5em;
    text-indent: 2em;
}

.story-content .content-image {
    display: inherit;
    margin: 0 auto;
    width: 90%;
}

.button-strip {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.button-strip .app-button {
    width: 50%;
    display: inline-block;
}

.comment {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
